 body {
     background-image: url("images/logo4.jpg"), url("images/logo4.jpg");
     background-repeat: no-repeat, no-repeat, repeat;
     background-position: right bottom, left bottom;
     background-size: 620px;
     padding: 469px;
     background-color: white;
 }

 .background {
     width: 430px;
     height: 520px;
     position: absolute;
     transform: translate(-50%, -50%);
     left: 50%;
     top: 50%;
 }

 form {
     margin-top: 90px;
     height: 630px;
     width: 30vw;
     background-color: pink;
     position: absolute;
     transform: translate(-50%, -50%);
     top: 50%;
     left: 50%;
     border-radius: 10px;
     backdrop-filter: blur(10px);
     border: 2px solid rgba(255, 255, 255, 0.1);
     box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
     padding: 50px 35px;

 }

 form * {
     font-family: 'Poppins', sans-serif;
     color: black;
     letter-spacing: 0.5px;
     outline: none;
     border: none;
 }

 form h3 {
     text-align: center;
     margin-top: 20px;
     margin-bottom: 80px;
     font-style: oblique;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     font-weight: 800;
     color: rgb(22, 15, 7);

 }

 label {
     /*    display: block;
            margin-top: 30px;
            font-size: 16px;
            font-weight: 500;  */

     display: block;
     margin-bottom: 20px;
     font-size: 28px;
 }

 input {
     display: block;
     height: 70px;
     width: 100%;
     margin-bottom: 40px;
     background-color: lightblue;
     border-radius: 3px;
     padding: 0 10px;
     margin-top: 8px;
     font-size: 25px;
     font-weight: 300;
 }





 button {
     width: 30%;
     font-size: 27px;
     margin-left: 200px;
     margin-top: 5px;
     padding: 5px;
     background-color: rgb(24, 118, 57);
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;

 }

 button:hover {
     background-color: rgb(76, 135, 218);
     animation: shaking 0.4s infinite;
 }
 @keyframes shaking{
    0%{transform: translateX(0) rotate(0deg);}
    25%{transform: translateX(15px) rotate(5deg);}
    50%{transform: translateX(0px) rotate(0deg);}
    75%{transform: translateX(-15px) rotate(-5deg);}
    100%{transform: translateX(0) rotate(0deg);}
}


 .sign {
     width: 500px;
     height: 30px;
     margin-top: 1px;
     margin-right: -54px;
     float: right;



 }

 .sign h4 {
     display: inline;
     font-family: Verdana, Geneva, Tahoma, sans-serif;

 }

 .sign a {
     display: inline;
     text-decoration: none;
     font-size: 20px;
     font-weight: 800;
     color: rgb(89, 89, 224);
 }